body {
    background-color:#438AB2;
    font-family: Arial;
    font-size: 14px;
    line-height: 120%;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    padding:5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    padding:7px;
}

ul {
    padding:5px;
}

ul li {
    position:relative;
    left:15px;
    list-style-type:square;
}

ol {
    padding: 5px;
}
ol li {
    font-weight:normal;
    list-style-type:decimal;
    position:relative;
    left:15px;
}

.listHeader {
    font-weight:bold;
    list-style-type:none;
}

dl {
    padding:5px;
}

dl dt {
    position:relative;
    left:15px;
    font-weight:bold;
}

dl dd {
    position:relative;
    left:15px;
    font-weight:normal;
}

#container {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#CBE3FF;
}

#header {
    height: 100px;
    width: 100%;
    background-color:#93D8FF;
}

nav {
    width: 100px;
    display:block;
    float:left;
    background-color:#93D8FF;
    border-color: #5668FF;
    border-width: 2px;
    border-style: solid;
}

nav ul {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
 
nav ul li {
    display:block;
    text-align: left;
    padding: 0;
    position:relative;
    left:0;
}
 
nav ul li :hover { 
    background: #A3C1FF;
}

nav ul li a {
    text-decoration: none;
    display:block;
    padding-top:7px;
    padding-left:10px;
    text-align:left;
}

.active{
    background-color:#D9E7FF;
}

#content{
    overflow:hidden;
    background-color:#D9E7FF;
}

#footer{
    height: 100px;
    width: 100%;
    background-color:#93D8FF;
}

#logo{
    width: 100px;
    height: 100px;
    float:right;
}

#presentationImage {
    float:right;
    padding: 5px;
}

/*
background main: #438AB2
backgound content: #D9E7FF
background header&footer: #93D8FF
background menu: #7ACFFF
border : #4454B2
*/